
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/TemplateUser.cshtml";
}

<div id="About">


    <p>Strona zawiera webowową realizację systemu zamówień i zwrotów płyt CD/DVD</p>
    <h3>Przy tworzeniu projektu wykorzystano:</h3>

    <ul>
        <li>Visual Studio 2017 [C# 7.2]</li>
        <li>HTML5</li>
        <li>CSS3</li>
        <li>JavaScript</li>
        <li>ASP.NET MVC</li>
        <li>Entity Framework</li>
        <li>MS SQL Server / T-SQL</li>
    </ul>

</div>
