
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/TemplateUser.cshtml";
}

<div id="Contact">
    <p>Dane kontaktowe:</p>
    <p>Michał Lechowski</p>
    <a href="mailto:michal.lechowski@gmail.com">michal.lechowski@gmail.com</a>

</div>